@import "tailwindcss";

@theme inline {
  --color-primary: #f2d00d;
  --color-moriones-red: #A01515;
  --color-background-light: #ffffff;
  --color-background-dark: #221f10;
  --font-display: var(--font-plus-jakarta), "Plus Jakarta Sans", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  background: white;
  min-height: max(884px, 100dvh);
}